<footer>
    <a href="envios"><img src="assets/envios-footer.png" alt=""></a>
    <img src="assets/logoweb.png" alt="">
    <p> Calle Falsa 123 <br>
        Buenos Aires - Argentina <br>
        Tel: (54) 4848-0000 <br>
        e-mail: consultas@caños.com
    </p>
</footer>