<nav>
    <ul class="navbar">
        <li><a href="/"><img src="/assets/logo.jpg" alt=""></a></li>
        <li><a href="empresa" class="nav--item">Empresa</a></li>
        <li><a href="gestion" class="nav--item">Gestión</a></li>
        <li><a href="servicios" class="nav--item">Servicios</a></li>
        <li><a href="productos" class="nav--item">Productos</a></li>
        <li><a href="comex" class="nav--item">Comercio Exterior</a></li>
    </ul>
</nav>