<nav>
    <ul class="navbar">
        <li><a href="/"><img src="/assets/logo.jpg" alt=""></a></li>
        <li><a href="empresa">Empresa</a></li>
        <li><a href="gestion">Gestión</a></li>
        <li><a href="servicios">Servicios</a></li>
        <li><a href="productos">Productos</a></li>
        <li><a href="comex">Comercio Exterior</a></li>
        <li><a href="contacto">Contacto</a></li>
    </ul>
</nav>