<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SIDEMET Caños SRL</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Ubuntu" rel="stylesheet">
</head>
<body>
    {{> navbar}}
    <img src="assets/comex.jpg" alt="SIDEMET Caños SRL está presente en todo el planeta.">
    <div class="wrapper">
        <h3 class="h3_subheader">Comercio Exterior</h3>
        <p>En estos tiempos en que las distancias han perdido significación, cualquier tipo de negocios es posible.</p>
        <p>En sintonía con esta premisa, hemos desarrollado nuestro propio departamento de Comercio Exterior siempre bajo los lineamientos de calidad y con la eficacia y eficiencia que SIDEMET CAÑOS SRL ha establecido como estándar para su gestión.</p>
        <p>En cumplimiento de tales objetivos hemos realizado misiones comerciales al exterior así como participado de ferias internacionales con la intención de fortalecer lazos con los principales fabricantes del mercado mundial a fin de lograr alianzas comerciales que nos permitan potenciar la posibilidad de atender necesidades específicas del mercado interno.</p>
    </div>
    {{> footer}}
</body>
</html>