<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SIDEMET Caños SRL</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Ubuntu" rel="stylesheet">
</head>
<body>
    {{> navbar}}
    <img src="assets/hero.jpg" alt="Logo de nuestra empresa SIDEMET Caños SRL">
    <h3>Una gran empresa de servicios al servicio de la industria.</h3>
    <h1>La empresa</h1>
    <p>SIDEMET CAÑOS S.R.L. es una empresa dedicada a la distribución de caños de acero, con y sin costura, válvulas, bridas y accesorios para soldar. <br>
    Nacimos hace cuatro décadas como una empresa enfocada a satisfacer las necesidades del Complejo Industrial, Berisso, Ensenada, Gran La Plata y a las empresas contratistas que funcionan en su entorno. <br>
    La dinámica y profesionalización a que nos obliga este sector siderometalúrgico, nos a permitido enfrentar el desafío de expandirnos a la atención de los sectores más dinámicos y estratégicos de la industria, entre ellos el sector Químico, Alimenticio, Metalúrgico, Papelero, Minero y Naviera.</p>
    {{> footer}}
</body>
</html>