<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SIDEMET Caños SRL</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Ubuntu" rel="stylesheet">
</head>
<body>
    {{> navbar}}
    <img src="assets/gestion.jpg" alt="Garantizar la mejor gestión es nuestro compromiso.">
    <div class="wrapper">
        <h3 class="h3_subheader">Gestión</h3>
        <p>La gestión de la empresa desde el año 2010 se halla enmarcada dentro de los lineamientos fijados por la Norma ISO 9001.</p>
        <p>En función de dicha premisa nos hemos orientados a la satisfacción permanente de nuestros clientes mediante el compromiso de todos los integrantes para con los objetivos de la empresa.</p>
        <p>Para ello hemos desarrollado un staff de venta altamente capacitado para atender los requerimientos técnicos de nuestros clientes, actualizando permanente los procesos de gestión, manteniendo la eficacia y eficiencia de los mismos, y desarrollando un sector logístico ágil que nos permite cubrir la totalidad del país así como países limítrofes.</p>
        <p>La organización toda en su conjunto vela para que todos los objetivos de la empresa sean cumplidos, para así poder seguir siendo "el almacén externo de las empresas", y como tal, responder a las necesidades del cliente.</p>
    </div>
    {{> footer}}
</body>
</html>