<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SIDEMET Caños SRL</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald|Ubuntu" rel="stylesheet">
</head>
<body>
    {{> navbar}}
    <img src="assets/servicios.jpg" alt="Gestión, asesoramiento y abastecimiento.">
    <h3>Servicio y asesoramiento</h3>
    <p>“El Almacén externo de su Empresa” es la filosofía de trabajo que nos orienta. Esta máxima es la que nos obliga a una gestión de stock y de logística que tiene como prioridad la satisfacción en tiempo y forma de la  gestión de los pedidos realizados en función de los plazos comprometidos atendiendo a las necesidades del cliente.</p>
    <p>Para lograr dicho objetivos ofrecemos las herramientas que más se adapten al cliente, desde Servicio de Provisión Total, Orden de Compra Abierta, Contrato Marco o la alternativa que más se ajuste a su necesidad.</p>
    <p>Desarrollo de un Sistema de Gestión de Certificados de Calidad de materiales que permite la trazabilidad absoluta poniendo a disposición del cliente los mismos y su disponibilidad en el momento de su liberación.</p>
    <p>Asesoramiento especializado para proyectos específicos, trabajos especiales y a medida, por nuestro sector Técnico de Ingeniería.</p>
    <p>Abastecimiento Estratégico es un servicio para nuestros clientes, el cual brinda la coordinación y gestión de todos los materiales necesarios para su obra, esto mismo consta de:  entregas en fecha, entregas en obra/destino,  comprados según su ingeniería, con sus certificados de calidad, sin desperdicio de obra, mejor oferta, forma de pago y el mejor servicio post venta.</p>
    {{> footer}}
</body>
</html>